RAW_DANGEROUS_MNEMONIC="lucky brisk alter steel lobster obvious dentist tool glass author diet hungry tower please stove recall grid media stick used wage trash keep gas"
POSTGRES_PASSWORD=rrelayer
POSTGRES_USER=postgres
POSTGRES_DB=postgres
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5441/${POSTGRES_DB}
RRELAYER_AUTH_USERNAME=development_username_batLoGPX
RRELAYER_AUTH_PASSWORD=development_password_UU5e9pi9Ih3djSJK
